/**
* @fileoverview  
* @author  wtk
* @date 2021-06-13
*/
/*边框 */
.shadow {
    border: solid 2px rgba(83, 80, 80, 0.554);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

article {
    margin:30px 0 20px 0;
}

article .container {
    width: 400px;
    padding: 30px 50px;
}

#userdetail_username {
    margin: 7px 0 0 0;
}
#userdetail_lyric {
    cursor: pointer;
    background-color: #FFFFFF;
}